@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-pre {
  animation: animate-preloader 1s linear infinite;
}

#hero .animated {
  animation: up-down ease-in-out infinite alternate-reverse both;
}

.contact-animate {
  animation: animate-loading 1s linear infinite
}

/* Eliminar en futuras versiones de Reflex */
:root, .light, .light-theme {
  --color-page-background: #0C151D !important;
}